.non-like {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.like {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #e2264d;
}

.like__section {
  margin-left: 10px;
}

.like__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.like__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=like.css.map */