@mixin basicHeart {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.non-like {
  @include basicHeart();
}

.like {
  @include basicHeart();
  color: #e2264d;
}

.like__section {
  margin-left: 10px;
}

.like__container {
  display: flex;
  margin-top: 10px;
}

.like__text {
  align-self: center;
}
