.instagram_logo {
  object-fit: contain;
  background-color: white;
  margin-left: 10px;
}

.app {
  background-color: "#fafafa";
  height: 100vh;
}

.app_header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 15px 0px;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.posts {
  margin-top: 80px;
  margin-bottom: 10px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.login__to__continue {
  text-align: center;
  padding: 20px;
}
