.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  background-color: white;
  margin: 10px 0px;
  color: lightblue;
}

.file__upload {
  margin: 10px 0px;
}
