.post {
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.header_avatar {
  margin-right: 10px;
}

.post_caption {
  font-weight: normal;
  padding: 10px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
}

.post__comments {
  padding: 0px 10px;
}

.comment {
  margin-top: 15px;
}

.comments_heading {
  padding: 5px 10px 0px;
  color: rgb(177, 177, 177);
}
